<h1>Listing case_steps</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @case_steps.each do |case_step| %>
      <tr>
        <td><%= link_to 'Show', case_case_step %></td>
        <td><%= link_to 'Edit', edit_case_case_step_path(case_step) %></td>
        <td><%= link_to 'Destroy', case_case_step, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Case step', new_case_case_step_path %>
