<div id="case_progress" class="row">
	<div align="center" class="wizard col-lg-12">
		<a><span class="badge">1</span>Создание тестового сценария</a>	    
		<a class="current"><span class="badge badge-inverse">2</span>Описание шагов и ожидаемого результата</a>	    
	    <a><span class="badge">3</span>Предпросмотр сценария</a>	    
	</div>
</div>

<div class="row">
	<h2>Описание шагов и ожидаемого результата</h2>
	<%= render 'form' %>
</div>