div.row  
  div.col-lg-12
  h4 Сводная информация

div.row  
  div.col-lg-12
    div#chart_div style="width: 100%; height: 300px;"

div.row style="padding-top: 40px;"
  div.col-lg-6
    h4 Результат тестирования последней версии
    table.table.table-hover    	  
      tr
        th Результат
        th Количество сценариев
      tr
        td Выполнено:
        td = @pass
      tr
        td Провалено:
        td = @fail
      tr
        td Пропущено:
        td = @not_implemented
  div.col-lg-6
  	h4 Описание ПО
  	p = @test_object.component.description

div.row style="padding-top: 40px;"

div.row
  div.col-lg-12
  	h4 Отчет о тестировании
  	p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quam nibh, porttitor eu suscipit vel, commodo eget justo. Sed quis ornare velit, at malesuada magna. Sed ut ullamcorper lectus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed non purus sed turpis bibendum laoreet. Vivamus commodo elementum lorem, ac imperdiet eros ultrices id. Etiam faucibus ipsum et orci facilisis, vel vulputate elit pulvinar. Maecenas euismod ipsum tellus, nec adipiscing nisl porttitor sit amet. Nulla vitae tempor sem, sit amet elementum ipsum. Nunc ipsum massa, placerat non purus sit amet, imperdiet viverra turpis. Nulla facilisi. In faucibus tortor a libero viverra, eu semper purus dictum. Praesent id sem eu erat facilisis iaculis. Aenean gravida metus vitae erat interdum pellentesque.    