<div class="row">
	<div class="col-lg-6">
		<h4>Результаты тестирования версии 1.3.0</h4>
	</div>
	<div class="col-lg-6">
		<h4>Сводная информация</h4>
	</div>
</div>

<div class="row">	
	<div class="col-lg-6">
		<div id="donutchart" style="width: 100%; height: 300px;"></div>
	</div>
	<div class="col-lg-6">
		<div id="chart_div" style="width: 100%; height: 300px;"></div>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-lg-6">
		<table class="table table-hover">
  			<tbody>
  				<thead>
  					<tr>
  						<th>Результат</th>
  						<th>Количество сценариев</th>
  					</tr>
  				</thead>
  				<tr>
  					<td>Выполнено:</td>
  					<td>100</td>
  				</tr>
  				<tr>
  					<td>Провалено:</td>
  					<td>10</td>
  				</tr>
  				<tr>
  					<td>Пропущено:</td>
  					<td>5</td>
  				</tr>
  				<tr>
  					<td>Не запускалось:</td>
  					<td>3</td>
  				</tr>
  			</tbody>
		</table>
	</div>
	<div class="col-lg-6">
		<h4>Описание ПО</h4>
		<p>Основной функцией подсистемы мониторинга является формирование модели текущего состояния контролируемых объектов и сигнализация обнаруженных отклонений от нормы.</p>
		<p>Подсистема мониторинга должна определять событие отклонения от нормы используя для этого набор настраиваемых правил. Для решения этих задач подсистемой используется платформа StreamInsight.</p>
	</div>
</div>
<hr>
<div class="row">	
	<div class="col-lg-6">		
		<h4>Отчет о тестировании</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quam nibh, porttitor eu suscipit vel, commodo eget justo. Sed quis ornare velit, at malesuada magna. Sed ut ullamcorper lectus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed non purus sed turpis bibendum laoreet. Vivamus commodo elementum lorem, ac imperdiet eros ultrices id. Etiam faucibus ipsum et orci facilisis, vel vulputate elit pulvinar. Maecenas euismod ipsum tellus, nec adipiscing nisl porttitor sit amet. Nulla vitae tempor sem, sit amet elementum ipsum. Nunc ipsum massa, placerat non purus sit amet, imperdiet viverra turpis. Nulla facilisi. In faucibus tortor a libero viverra, eu semper purus dictum. Praesent id sem eu erat facilisis iaculis. Aenean gravida metus vitae erat interdum pellentesque.</p>
	</div>	
	<div class="col-lg-6">
		
	</div>
</div>
