<div class="row">
  <div class="col-lg-3">
    <%= link_to 'Добавить тестовый сценарий', new_case_path, :class => "btn btn-default col-lg-12" %>    
  </div>
  <div class="col-lg-9">
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>Название сценария</th>
          <th>Приоритет</th>
          <th>Время выполнения</th>
        </tr>
      </thead>
      <tbody>
        <% @cases.each do |c| %>
          <tr>
            <td><%= c.title %></td>
            <td><%= c.priority %></td>
            <td><%= c.planned_duration %></td>
          </tr>          
        <% end %>        
      </tbody>
    </table>    
  </div>
</div>