div#case_progress.row
  div.wizard.col-lg-12 align="center"
	a.current
	  span.badge.badge-inverse 1
	  |Создание тестового сценария
	a
	  span.badge 2 
	  |Описание шагов и ожидаемого результата</a>
	a 
	  span.badge 3
	  |Предпросмотр сценария

div.row
  h2 Создание нового тестового сценария
  = render 'form'