- form_for(@project) do |f|
  - if @project.errors.any?
    div#error_explanation
      h2 #{pluralize(@project.errors.count, "error")} prohibited this project from being saved:
      ul
      - @project.errors.full_messages.each do |message|
        li = message
  div.col-lg-12
    div.row
      div.col-lg-3
        h4 align="right" Название:
      div.col-lg-9
        = f.text_field :title, type: "text", class: "form-control", placeholder: "Название проекта"      
    div.row
      div.col-lg-8
      div.col-lg-2
        = link_to 'Назад', projects_path, class: "btn btn-default col-lg-12"
      div.col-lg-2
        = f.submit 'Сохранить', class: "btn btn-success col-lg-12"