div.row
  div.col-lg-3
    = link_to 'Добавить проект', new_project_path, class: "btn btn-default col-lg-12"
  div.col-lg-9
    table.table.table-condensed.table-hover
      thead
        tr
          th Название проекта
      tbody
        - @projects.each do |p|
          tr
            td = p.title