<div class="row">
  <div class="col-lg-3">
    <%= link_to 'Добавить проект', new_project_path, :class => "btn btn-default col-lg-12" %>    
  </div>
  <div class="col-lg-9">
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>Название проекта</th>          
        </tr>
      </thead>
      <tbody>
        <% @projects.each do |p| %>
          <tr>
            <td><%= p.title %></td>                      
          </tr>          
        <% end %>        
      </tbody>
    </table>    
  </div>
</div>